$width: 250px;

@mixin flex($margin) {
  display: flex;
  margin: $margin;
}

.view{
  @include flex(10px);
}

.product-list-view {
  flex-direction: column;
  width: $width;
  img {
    height: $width;
  }
}


.thumbnail img {
  width: 100px;
  height: 100px;
}
