$width: 250px;

.view{
  width: $width;
  display: flex;
  margin: 10px;
}

.product-view {
  flex-direction: column;
}

img {
  height: $width;
}

.thumbnail img {
  width: 100px;
  height: 100px;
}
